body {
   background-color: black;
   display: flex;
   justify-content: center;
}
.container {
   display: block;
   width: 500px;
   margin-top: 10px;
   font-family: calibri;
  
}
.title {
   text-align: center;
   color: red;
}


.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}